* {
    padding: 0;
    margin:  0;
    border:  0;
}

body {
    background: #fff;
    background: #fefefe;
    color: #000;
    font-family: Arial;
}

/* Main centering container */
#container {
    position: relative;
    width: 900px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    color: #933;
}

#header {
    font-size: 25px; 
    color: #933;

    padding-top: 10px;
    padding-bottom: 24px;
    padding-right: 10px;

    text-align: right;

    background: url("layout_images/head_bg.png");

    background-repeat: repeat-x;

    font-weight: bold;

    border-width: 1px;
    border-style: solid;
    border-color: #eee;
}

#main_content {
    background: #fff;

    border-width: 1px;
    border-style: solid;
    border-color: #eee;

    margin-top: 10px;
}

/* columns */
#center {
    float: right;
    width: 648px;
    text-align: justify;
    margin-right: 15px;
    margin-top: 10px;
}


#login {
    margin-top: 100px;
    margin-bottom: 100px;
}

#left {
    float: right;
    width: 220px; 
    margin-right: 15px;
    margin-top: -1px;
}

#right {
    float: right;
    width: 190px;
    margin-left: 25px;
    margin-top: 10px;
}

.clear {
    clear: both;
}

/* Navigation */
.navsect {
    border-width: 1px;
    border-left: 0px;

    border-style: solid;
    border-color: #eee;

    margin-bottom: 12px;
}

.navsect h4 {
    padding: 7px;
    background: url("layout_images/navi.png") bottom;
    background-repeat: repeat-x;
    color: #999;
}

.navsect p {
    padding: 7px;
}

/* Table formatting*/

table {
    border-collapse: collapse;

    border-style: dotted;
    border-color: #ccc;
    border-width: 1px;

    margin: 0 auto;

    margin-bottom: 20px;
    width: 100%;
}

tr {
    font-size: 13px;
}

td, th {
    border-style: dotted;
    border-color: #ccc;
    border-width: 1px;
    border-left:   0px;
    border-right:   0px;
    padding: 5px;
}

th {
    color: #933;
    text-align: left;
    font-weight: normal;
}

input {
    border-style: solid;
    border-color: #ddd;
    border-width: 1px;
}

textarea {
    border-style: solid;
    border-color: #ddd;
    border-width: 1px;
}

.vwide {
    width: 610px;
}

.wide {
    width: 160px;
}

.nrow {
    width: 50px;
}

.vnrow {
    width: 30px;
}

.pages_head {
    color: #933;
    font-size: 20px;
    display: block;
    margin-bottom: 10px;
}

.center {
    display: block;
    width: 4em;
    margin: auto;
}
